---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <script type="text/javascript">
      var clustrmaps = {"theme" : "default", "language" : "en"};
    </script>
    <script type="text/javascript" src="//clustrmaps.com/map_v2.js?d=YOUR_UNIQUE_ID_HERE"></script>
    <noscript>
      <a href="http://www.clustrmaps.com">
        <img src="//clustrmaps.com/map_v2.png?d=YOUR_UNIQUE_ID_HERE" alt="ClustrMaps" border="0" />
      </a>
    </noscript>

  </body>
</html>
