---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  <!-- ClustrMaps Small Map Widget -->
  <script type="text/javascript">
    var clustrmaps = { "theme": "default", "language": "en" };
  </script>
  <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=rscYpo6shVMREjb3RbPTOp2cKMJXhZQ_4J06RhFEpQI"></script>
  <noscript>
    <a href="http://www.clustrmaps.com">
      <img src="//clustrmaps.com/map_v2.png?d=//clustrmaps.com/globe.js?d=rscYpo6shVMREjb3RbPTOp2cKMJXhZQ_4J06RhFEpQI" alt="ClustrMaps" border="0" />
    </a>
  </noscript>
  <!-- End ClustrMaps Widget -->
</div>

  </body>
</html>
